<?xml version="1.0"?>
<robot name="rosbot"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- TODO is use_sim argument used in any way? -->
  <!-- <xacro:arg name="use_sim" default="false" /> -->
  <xacro:arg name="use_gazebo" default="false" />
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find rosbot_description)/urdf/rosbot_links.urdf.xacro" />
  <xacro:include filename="$(find rosbot_description)/gazebo/rosbot.materials.xacro" />
  <xacro:include filename="$(find rosbot_description)/gazebo/rosbot.gazebo.xacro" />

  <xacro:rosbot_links prefix="$(arg prefix)" />
  <xacro:rosbot_gazebo prefix="$(arg prefix)" />

  <xacro:include filename="$(find rosbot_description)/ros2_control/rosbot_system.ros2_control.xacro" />

  <xacro:rosbot_system
    name="RosbotSystem"
    joint0_name="$(arg prefix)left_wheel_joint"
    joint1_name="$(arg prefix)right_wheel_joint"
    use_gazebo="$(arg use_gazebo)" />

</robot>

